@charset "UTF-8";
// menu model #1.
.type-1 {
  ul {
    font-size: 0;
    background-color: $menuColorType-1;

    li {
      display: inline-block;
      font-size: 16px;
      border-right: solid 1px rgba(white, 0.08);
      &:last-child {
        border-right: none;
      }
      a {
        display: block;
        padding: 14px 20px;
        font-weight: bold;
        &:hover, &.active {
          background-color: rgba(black, 0.08);
          color: white;
          box-shadow: 1px 5px 10px -5px black;
        }
      }
    }
  }
}
